body {
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.head, ul {
    display: flex;
    justify-content: space-between ;
    background-color: beige;
    align-items: center; 
}
li {
    display: inline;
    margin: 10px;
    padding: 10px;
    background-color: brown;
}
li:hover {
    background-color: rgb(153, 148, 148);
}
li:focus{
    background-color: bisque;
}
img {
    width: 400px;
    height: 400px;
}
a { 
    text-decoration: none;
    color: rgb(226, 68, 68);
}
a:hover {
    color: black;
}
.div {
    border: 1px solid rgb(71, 141, 231);
    max-width: 400px;
    margin-left: 5px;
}

.form {
    border: 1px solid rgb(92, 156, 209);
    width: 350px;
    height: 200px;
    padding: 5px;
    background-color: #efefef;
    border-radius: 10px;
    display: grid;
}
.f {
    align-items: center;
}
#a, #b {
    height: 25px;
    border-bottom: 1px solid hwb(0 69% 7%) !important;
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 5px;
}
.form > div {
    padding: 5px;
}
#a:hover, #b:hover {
    background-color: aliceblue;
}
#a:focus, #b:focus {
    border: 1px solid hwb(0 69% 7%);
    border-radius: 10px;
}
textarea{
    height: 80px;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
}
.bd {
    display: flex;
}
@media (min-width: 601px) {
    .form {
        width: 100%;
        padding: 5px;
    }
    
}